{% extends 'base.html' %}
{% block main %}
<article class="post post-{{ post.pk }}">
    <header class="entry-header">
        <h1 class="entry-title">{{ post.title }}</h1>
        <div class="entry-meta">
            <span class="post-category"><a href="#">{{ post.category }}</a></span>
            <span class="post-date"><a href="#"><time class="entry-date"
                                                      datetime="2012-11-09T23:15:57+00:00">{{ post.created_time }}</time></a></span>
            <span class="post-author"><a href="#">{{ post.author }}</a></span>
            <span class="comments-link"><a href="#">4 评论</a></span>
            <span class="views-count"><a href="#">588 阅读</a></span>
        </div>
    </header>
    <div class="entry-content clearfix">
        <p>{{ post.body|safe }}</p>
    </div>
</article>
<section class="comment-area" id="comment-area">
    <hr>
    <h3>发表评论</h3>
    <form action="#" method="post" class="comment-form">
        <div class="row">
            <div class="col-md-4">
                <label for="id_name">名字：</label>
                <input type="text" id="id_name" name="name" required>
            </div>
            <div class="col-md-4">
                <label for="id_email">邮箱：</label>
                <input type="email" id="id_email" name="email" required>
            </div>
            <div class="col-md-4">
                <label for="id_url">网址：</label>
                <input type="text" id="id_url" name="url">
            </div>
            <div class="col-md-12">
                <label for="id_comment">评论：</label>
                <textarea name="comment" id="id_comment" required></textarea>
                <button type="submit" class="comment-btn">发表</button>
            </div>
        </div>    <!-- row -->
    </form>
    <div class="comment-list-panel">
        <h3>评论列表，共 <span>4</span> 条评论</h3>
        <ul class="comment-list list-unstyled">
            <li class="comment-item">
                <span class="nickname">AAA</span>
                <time class="submit-date" datetime="2012-11-09T23:15:57+00:00">2017年3月12日 14:56</time>
                <div class="text">
                    111111111111111111111111
                </div>
            </li>
            <li class="comment-item">
                <span class="nickname">BBB</span>
                <time class="submit-date" datetime="2012-11-09T23:15:57+00:00">2017年3月11日 23:56</time>
                <div class="text">
                    2222222222222222222222222
                </div>
            </li>
            <li class="comment-item">
                <span class="nickname">CCC</span>
                <time class="submit-date" datetime="2012-11-09T23:15:57+00:00">2017年3月9日 8:56</time>
                <div class="text">
                    3333333333333333333333333
                </div>
            </li>
            <li class="comment-item">
                <span class="nickname">DDD</span>
                <time class="submit-date" datetime="2012-11-09T23:15:57+00:00">2017年2月12日 12:56</time>
                <div class="text">
                    4444444444444444444444444
                </div>
            </li>
        </ul>
    </div>
</section>
{% endblock main %}
{% block toc %}
<div class="widget widget-content">
    <h3 class="widget-title">文章目录</h3>
    <ul>
        <li>
            <a href="#">教程特点</a>
        </li>
        <li>
            <a href="#">谁适合这个教程</a>
        </li>
        <li>
            <a href="#">在线预览</a>
        </li>
        <li>
            <a href="#">资源列表</a>
        </li>
        <li>
            <a href="#">获取帮助</a>
        </li>
    </ul>
</div>
{% endblock toc %}
